extends ../layout

block content
  h1(class='page_title')= title 

  div(class='allItems')
    each item in itemList
      a(class='item column' href=item.url)
        div(class='imageWrap')
          img(src=`${item.image}` alt=`${item.name}` class='itemImg')
        div(class='column spaceBetween itemLower')
          p(class='bold itemTxt') #{item.name}
          div(class='text-row spaceBetween')
            p(class='bold itemTxt') #{item.stock} items
            if (item.stock < 100) 
              p(class='red bold') Low Stock
    
    else 
      li There are no items.