extends layout

block content
  h1(class='page_title')= title

  div(class='items_in_stock')
    p(class='indexItem blue-under') #[strong Total Clothes:] !{clothes_count}
    p(class='indexItem red-under') #[strong Men's Clothes:] !{mens_clothes_count}
    p(class='indexItem red-under') #[strong Womens Clothes:] !{womens_clothes_count}
    p(class='indexItem red-under') #[strong Unisex Clothes:] !{unisex_clothes_count}
    each type in Object.keys(typeCounts)
      - const formattedType = type.replace(/_/g, '-').replace(/\b\w/g, char => char.toUpperCase())
      p(class='indexItem orange-under') #[strong #{formattedType}:] !{typeCounts[type]}
