extends ../layout

block content 
  - const formattedTitle = title.replace(/_/g, '-').replace(/\b\w+(?:'\w+)?/g, char => char.charAt(0).toUpperCase() + char.slice(1))
  h1(class='page_title')= formattedTitle

  h2(class='subheader orange-under') Clothes 

  each item in typeItems
    a(class='subitemWrap' href=item.url)
      div(class='subitemImgWrap')
        img(src=`${item.image}` alt=`${item.name}` class='subitemImg')
      div(class='subitemContent column')
        - const formattedItem = item.name.replace(/_/g, '-').replace(/\b\w+(?:'\w+)?/g, char => char.charAt(0).toUpperCase() + char.slice(1))
        h3(class='subitem-header orange-under') #[strong #{formattedItem}]
        p(class='subdetail-label')  Gender: #{item.gender}
        p(class='subdetail-label')  Price: #{item.price}
        p(class='subdetail-label')  Stock: #{item.stock}
  
  hr
  div(class='text-row')
    span(class="material-symbols-outlined") delete
    a(href=`${type.url}/delete` class='detail-link' onclick='promptForAdminPassword(this.href)') Delete Item

  div(class='text-row')
    span(class="material-symbols-outlined") update
    a(href=`${type.url}/update` class='detail-link' onclick='promptForAdminPassword(this.href)') Update Item

  
  script.
    async function promptForAdminPassword(actionUrl) {
      event.preventDefault();
      const password = prompt("Please enter the admin password:");

      if (password) {
        console.log(actionUrl)
        const response = await fetch('/api/checkAdminPassword', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ password })
        });

        const data = await response.json();

        if (data.isValidPassword) {
          window.location.href = actionUrl;
        } else {
          alert("Invalid admin password!");
        }
      }
    }
