extends ../layout

block content 
  h1= title 

  h2 Clothes 

  each item in typeItems
    div
      a(href=item.url) #[strong #{item.name}]
      p  Gender: #{item.gender}
      p  Price: #{item.price}
      p  Stock: #{item.stock}
  
  hr
  p
    a(href=type.url+'/delete') Delete Type
  p 
    a(href=type.url+'/update') Update Type