extends ../layout

block content
  - const formattedType = type.name.replace(/_/g, '-').replace(/\b\w+(?:'\w+)?/g, char => char.charAt(0).toUpperCase() + char.slice(1))
  h1(class='page_title') #{title}: #{formattedType}

  if typeItems.length

    p(class='subheader') #[strong Delete the following items before attempting to delete this type:]

    div(class='column' style='gap: 30px;')
      each item in typeItems
        a(class='subitemWrap' href=item.url)
          div(class='subitemImgWrap')
            img(src=`${item.image}` alt=`${item.name}` class='subitemImg')
          div(class='subitemContent column')
            - const formattedItem = item.name.replace(/_/g, '-').replace(/\b\w+(?:'\w+)?/g, char => char.charAt(0).toUpperCase() + char.slice(1))
            h3(class='subitem-header orange-under') #[strong #{formattedItem}]
            p(class='subdetail-label')  Gender: #{item.gender}
            p(class='subdetail-label')  Price: #{item.price}
            p(class='subdetail-label')  Stock: #{item.stock}

  else
    p(class='subheader') Do you really want to delete this type?

    form(method='POST' action='')
      div
        input(type='hidden',name='typeid', required='true', value=type._id )

      button(type='submit' class='delete form-submit') Delete
